.Quiz {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-top: 100px;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.Quiz h1 {
    color: #fff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}